<div class="container">

	<h1 class="my-4">Books!
		<small>All you need</small>
	</h1>

	<hr>

	<div class="row mb-4">
		<div class="col-md-4">
			<button type="button" class="btn btn-secondary" (click)=open(addBookModal)>Add Book</button>
		</div>
		<div class="ml-auto mr-4">
            <div ngbDropdown>
                <button class="btn btn-outline-secondary" id="dropdownBasic" ngbDropdownToggle>
                 Sorted By <span class="font-weight-bold">{{selectedSort}}</span></button>
                 <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                     <button ngbDropdownItem (click)="sort('price', true, 'Price Descending')">Price Descending</button>
                     <button ngbDropdownItem (click)="sort('price', false, 'Price Ascending')">Price Ascending</button>
                     <button ngbDropdownItem (click)="sort('title', false, 'Title A-Z')">Title A-Z</button>
                     <button ngbDropdownItem (click)="sort('title', true, 'Title Z-A')">Title Z-A</button>
                     <button ngbDropdownItem (click)="sort('author', false, 'Author A-Z')">Author A-Z</button>
                     <button ngbDropdownItem (click)="sort('author', true, 'Author Z-A')">Author Z-A</button>
                     <button ngbDropdownItem (click)="sort('year', true, 'Year Descending')">Year Descending</button>
                     <button ngbDropdownItem (click)="sort('year', false, 'Year Ascending')">Year Ascending</button>
                 </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 ml-auto mr-2">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Min Price" #min>
                <input type="text" class="form-control" placeholder="Max Price" #max>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="filter(min.value, max.value)">Filter</button>
                </div>
            </div>
        </div>
    </div>

    <div *ngFor="let book of books | filter: books : minimum : maximum |  orderBy: key : descending | paginate: {itemsPerPage: 4, currentPage: p}">

        <div class="row">
            <div class="col-md-12 mt-2">
                <div class="d-flex">
                    <h3>{{book.title}}</h3>
                    <h4 class="ml-auto mr-3">Price: ${{book.price}}</h4>
                </div>
                <div>
                    <div class="mt-2 mb-3">
                        <a href="{{book.image}}">Image URL</a>
                    </div>
                    <p>{{book.description}}</p>
                    <div class="d-flex">
                        <p>Author: {{book.author}};  {{book.city}}, {{book.year}}</p>
                        <div class="ml-auto mr-3">
                            <div class="btn-group" role="group" aria-label="Button group example">
                                <button type="button" class="btn btn-primary" (click)=open(editBookModal)>Edit Book</button>
                                <button type="button" class="btn btn-danger" (click)="deleteBook(book)">Delete Book</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <ng-template #addBookModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add New Book</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">

                    <label for="title">Title</label>
                    <div class="input-group">
                        <input type="text" id="title" class="form-control" name="title" #title>
                    </div>

                    <label for="author">Author</label>
                    <div class="input-group">
                        <input type="text" id="author" class="form-control" name="author" #author>
                    </div>

                    <label for="price">Price</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="text" id="price" class="form-control" name="price" #price>
                    </div>

                    <label for="image">Image URL</label>
                    <div class="input-group">
                        <input type="text" id="image" class="form-control" name="image" #image>
                    </div>

                    <label for="city_year">City and Year of publication</label>
                    <div class="input-group">
                        <input type="text" id="city" class="form-control" name="city" #city>
                        <input type="text" id="year" class="form-control" name="year" #year>
                    </div>

                    <label for="description">Description</label>
                    <div class="input-group">
                        <textarea id="description" class="form-control" name="description" #description></textarea>
                    </div>


                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click'); 
                addBook(title.value, author.value, price.value, image.value, city.value, year.value, description.value);">Add Book</button>
        </div>
    </ng-template>

    <pagination-controls (pageChange)="p = $event" class="d-flex justify-content-center"></pagination-controls>

</div>